Repository HakanAkozBoun/SWE_574, pull requests merged in 2024-05, with the labels that each got.

#75 Recipe bookmark
  backend/blog_api/utils/recommendation.py
  ui/assets/nutrition_data.json
  ui/lib/screen/tracking_diet_goals.dart
  ui/pubspec.yaml
Labels: enhancement, mobile

#105 Fixed bugs regarding bookmark and eaten in recipe detail page and Add…
  backend/blog_api/urls.py
  backend/blog_api/views.py
  backend/recipeBlog/settings.py
  ui/images/all.jpg
  ui/lib/screen/home2.dart
  ui/lib/screen/recipe.dart
  ui/lib/widgets/home/categories.dart
  ui/lib/widgets/home/recipe_list.dart
Labels: bug, enhancement, mobile, backend

#106 Tests
  backend/blog_api/utils/recommendation.py
Labels: enhancement, backend

#115 Bug/allergy page message and navigation
  ui/lib/screen/allergy.dart
Labels: bug, mobile

#117 search bar allergic food filter
  backend/blog_api/views.py
  ui/lib/widgets/home/search_bar.dart
Labels: bug, backend

#119 allergy page gives allergy info
  backend/blog_api/serializers.py
  backend/blog_api/views.py
  ui/lib/screen/allergy.dart
Labels: mobile, backend

#120 Added select serving amount 1-5 in recipe detail page
  backend/blog_api/views.py
  ui/lib/screen/recipe.dart
  ui/lib/widgets/home/app_drawer.dart
Labels: feature, mobile, backend

#130 search bar problems in homepage and allergy solved
  ui/lib/screen/allergy.dart
  ui/lib/widgets/home/search_bar.dart
Labels: bug, mobile
